body {
    background-image: url("../images/bg2.jpg");
    font-family: 'Times New Roman';
    color: rgba(65, 68, 73, 0.25);
}

.wrapper {
    background-attachment: fixed;
}

.todo-column {
    width: 24%;
    margin: 0 4px;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    background-color: #ebecf0;
    box-shadow: 10px 10px 20px darkgray;
    border-radius: 4px;
}

.todo-container,
.doing-container,
.verify-container,
.done-container,
.add-todo-button,
.add-doing-button,
.add-verify-button,
.add-done-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* chuẩn rồi */

.todo-container,
.doing-container,
.verify-container,
.done-container {
    background-color: white;
    padding: 2%;
    width: 90%;
    margin-top: 2%;
}

.title-column {
    font-weight: bold;
}

.add-todo-button,
.add-doing-button,
.add-verify-button,
.add-done-button,
li {
    font-size: 14pt;
}

.add-todo-button,
.add-doing-button,
.add-verify-button,
.add-done-button {
    padding: 4%;
    background-color: whitesmoke;
    margin-top: 2%;
    border: none;
}

.title-column,
li {
    height: 25px;
    padding: 2%;
}

.title-column {
    padding: 2%;
    margin-left: 3%;
    font-size: 20pt;
}

li {
    list-style: none;
    position: relative;
    left: -20px;
    margin-bottom: 8px;
    background: white;
    border-radius: 3px;
    border-bottom: 1px solid lightgray;
    box-shadow: 0 1px 0 rgba(9, 30, 66, .25);
}


/* ul li:nth-child(odd) {
    background: #f9f9f9;
} */

button:hover {
    background-color: white;
}